<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1049052961931-golfok81ml5km3b69jh6aifht36v3f0m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1049052961931-golfok81ml5km3b69jh6aifht36v3f0m</string>
	<key>API_KEY</key>
	<string>AIzaSyAsh5-BP5SL-AWnMyOuchlKxyoz4Uawwxg</string>
	<key>GCM_SENDER_ID</key>
	<string>1049052961931</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>au.com.inthecode.applesignin2</string>
	<key>PROJECT_ID</key>
	<string>apple-signin-9beac</string>
	<key>STORAGE_BUCKET</key>
	<string>apple-signin-9beac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1049052961931:ios:eee803b8cab699c10c488e</string>
</dict>
</plist>